.morpheus {
  background-image: url("./pills.png");
  position: absolute;
  top: 0px;
  left: 400px;
  width: 703px;
  height: 576px;
  background-size: cover;
  z-index: -1;
}

.pills {
  margin-top: 440px;
  display: flex;
  justify-content: space-evenly;
}

.btn-blue {
  margin-right: -200px;
}
